gulpfile2.js
/public/html/sbv2
resources/views/theme_admin3/partials/head-2.blade.php
/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/uploads/
/public/imgtest/
/public/rs_tmp/
public/html/lp_assets
public/clients/
public/devclients/
public/html/node_modules/
/storage/*.key
/vendor
.idea/
.idea/deployment.xml
.idea/webServers.xml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/web.config
*.bak
*.orig
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.so
*.log
*.jaz
database-setup.txt
.vscode/
