/**
*    Background Image Mixin
*
*    @param {string}          [$file-name]
*    @param {number}          [$height]
*    @param {number}          [$width]
*    @param {number number}   [$position]
*
*    returns  Returns background-image, height, width
*/
/**
*    Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
*    Inline Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
* Un order list Mixin
*/
/**
*    Add ellipsis in the element
*
*    @param {string}          [$max-width]
*
*    Returns overflow, text-overflow, white-space and optional max-width
*/
/* funnel dropdown overlay styling */
.funnel-address-overlay {
  padding: 0 0 0 420px;
  visibility: visible;
  opacity: 1;
  z-index: 1030; }
  .funnel-address-overlay .fb-address-second-step {
    display: none; }
  .funnel-address-overlay .panel-aside-wrap-overlay {
    position: relative;
    max-height: calc(100vh - 82px); }
  .funnel-address-overlay .panel-aside__head {
    margin: 0 0 5px; }
  .funnel-address-overlay .panel-aside {
    width: 420px; }
    .panel-aside_closed .funnel-address-overlay .panel-aside {
      left: -340px !important; }
    .funnel-address-overlay .panel-aside .fb-modal__option {
      font-size: 16px; }
  .funnel-address-overlay .panel-aside__body {
    padding: 0 30px 15px !important; }
    .funnel-address-overlay .panel-aside__body .form-group:last-child {
      margin-bottom: 0; }
  .funnel-address-overlay .fb-tooltip {
    position: relative;
    margin: 0 8px;
    z-index: 5; }
  .funnel-address-overlay .fb-form__caption .question-mark {
    margin-left: 0; }
  .funnel-address-overlay .question-mark.el-tooltip {
    margin-left: 0; }
  .funnel-address-overlay .fb-modal__handler:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 66px;
    background: transparent; }
  .funnel-address-overlay .fb-modal__handler i {
    transition: all 0.4s ease;
    transform: none;
    color: #c7d4df; }
  .funnel-address-overlay .fb-modal__handler.open > i {
    transform: rotate(180deg); }
  .funnel-address-overlay .form-group[disabled] {
    cursor: not-allowed;
    opacity: 0.7; }
    .funnel-address-overlay .form-group[disabled] .fb-modal__handler {
      cursor: not-allowed;
      pointer-events: none; }
  .funnel-address-overlay .fb-form__group .fb-form-control {
    text-transform: none;
    font-size: 16px; }
  .funnel-address-overlay .fb-toggle .toggle.btn {
    width: 72px !important;
    min-width: 72px !important; }
  .funnel-address-overlay .fb-toggle .toggle-handle {
    width: 54px; }
  .funnel-address-overlay .fb-toggle .toggle-group .btn {
    font-size: 11px;
    padding: 5px 11px 5px 9px; }
  .funnel-address-overlay .classic-editor__wrapper .fr-toolbar {
    z-index: inherit !important; }
    .funnel-address-overlay .classic-editor__wrapper .fr-toolbar .fr-command.fr-btn {
      width: 38px; }
  .funnel-address-overlay .hide-checkbox {
    margin: 20px 0 0; }
  .funnel-address-overlay .slider-track-low,
  .funnel-address-overlay .slider-track-high,
  .funnel-address-overlay .slider-track {
    border-radius: 10px; }
  .funnel-address-overlay .color-box__panel-wrapper {
    z-index: 1050; }
    .funnel-address-overlay .color-box__panel-wrapper label {
      margin: 0 0 14px; }
  .funnel-address-overlay .fb-tab__link {
    height: 50px;
    font-size: 15px; }
    .funnel-address-overlay .fb-tab__link.active {
      color: #707d84; }
      .funnel-address-overlay .fb-tab__link.active:after {
        border-bottom-color: #01aef0; }
  .funnel-address-overlay .pop-link .fr-popup {
    left: auto !important;
    width: 240px;
    right: -95px; }
    .funnel-address-overlay .pop-link .fr-popup .fr-layer {
      width: 218px; }
  .funnel-address-overlay .fr-popup .fr-btn-wrap button:nth-child(2) {
    width: 16px !important; }
  .funnel-address-overlay .pop-emotions .fr-popup {
    left: auto !important;
    width: 240px;
    right: -95px; }
    .funnel-address-overlay .pop-emotions .fr-popup.fr-active {
      top: 38px !important; }
  .funnel-address-overlay .fr-wrapper.show-placeholder {
    min-height: 127px; }
  .funnel-address-overlay .fr-popup.fr-active {
    top: 36px !important; }
  .funnel-address-overlay .fr-command.fr-btn.fr-disabled,
  .funnel-address-overlay .fr-popup .fr-command.fr-btn.fr-disabled {
    color: #8e8c8c !important; }
  .funnel-address-overlay .funnel-checkbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .funnel-address-overlay .funnel-checkbox .checkbox-label {
      width: 72px;
      height: 30px;
      position: relative;
      display: block;
      margin: 0;
      overflow: hidden; }
    .funnel-address-overlay .funnel-checkbox .checkbox-area {
      font-size: 11px;
      line-height: 30px;
      font-weight: 600;
      width: 100%;
      height: 100%;
      position: relative;
      background: #c114ed;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      border-radius: 3px;
      display: block;
      color: #fff;
      cursor: pointer; }
      .funnel-address-overlay .funnel-checkbox .checkbox-area:before {
        transition: all 0.3s ease-in-out;
        content: 'ON';
        position: absolute;
        right: -25px;
        top: 0;
        bottom: 0; }
      .funnel-address-overlay .funnel-checkbox .checkbox-area:after {
        transition: all 0.3s ease-in-out;
        content: 'OFF';
        position: absolute;
        left: 11px;
        top: 0;
        bottom: 0; }
      .funnel-address-overlay .funnel-checkbox .checkbox-area .handle {
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border-radius: 2px;
        background: #fff;
        width: 27px;
        z-index: 2; }
    .funnel-address-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area {
      background: #27c24c; }
      .funnel-address-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area:before {
        right: 11px; }
      .funnel-address-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area:after {
        left: -25px; }
      .funnel-address-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area .handle {
        right: 43px; }
  .funnel-address-overlay .classic-editor__wrapper {
    transition: all 0.15s ease;
    box-shadow: none;
    outline: none;
    text-align: center;
    border-radius: 3px; }
    .funnel-address-overlay .classic-editor__wrapper:focus, .funnel-address-overlay .classic-editor__wrapper.focus {
      border-color: #02abec !important; }
  .funnel-address-overlay .btn-value-text {
    text-transform: none !important; }
  .funnel-address-overlay .fb-modal__row {
    position: relative; }
  .funnel-address-overlay .select2_style {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .funnel-address-overlay .advance-options-wrap .data-handler-slide {
    padding: 0; }
  .funnel-address-overlay .advance-options-wrap.active {
    border-bottom: none; }
  .funnel-address-overlay .label-field {
    text-transform: uppercase !important; }
  .funnel-address-overlay .select-state-area {
    position: relative;
    width: 100%; }
  .funnel-address-overlay .tag-box_move {
    cursor: move; }
  .funnel-address-overlay .select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #707d84 transparent transparent; }
  .funnel-address-overlay .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow {
    z-index: 1051; }

.colorpicker-active .select2-dropdown {
  z-index: 1050; }

.static-opener {
  display: block;
  border: 1px solid #cfdadd;
  color: #cfdadd;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 30px 15px 20px;
  position: relative;
  border-radius: 4px; }
  .static-opener:hover {
    color: #cfdadd; }
  .static-opener.state-active {
    color: #707d84;
    font-weight: 700; }
  .static-opener:after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    content: '';
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #707d84 transparent transparent; }
