/**
*    Background Image Mixin
*
*    @param {string}          [$file-name]
*    @param {number}          [$height]
*    @param {number}          [$width]
*    @param {number number}   [$position]
*
*    returns  Returns background-image, height, width
*/
/**
*    Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
*    Inline Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
* Un order list Mixin
*/
/**
*    Add ellipsis in the element
*
*    @param {string}          [$max-width]
*
*    Returns overflow, text-overflow, white-space and optional max-width
*/
/* Number field question wrap style */
.funnel-number-wrap {
  font: 16px/1.2 "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #6e7c81; }
  .funnel-number-wrap * {
    box-sizing: border-box; }

/* Number field question style */
.question_number .input-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 280px; }

.question_number .form-control {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding: 28px 30px 12px 26px;
  background: none;
  border: none;
  box-shadow: none;
  transition: all 0.4s ease;
  font-weight: 600;
  width: 100%;
  outline: none;
  color: #0f101a;
  height: 100%;
  opacity: 0; }
  .question_number .form-control.filled, .question_number .form-control:focus {
    border-width: 2px;
    border-color: #00ccff;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.15);
    outline: none; }

.question_number__fields {
  position: relative; }

.question_number .address__field {
  width: 380px; }
  .question_number .address__field .form-control {
    padding-right: 40px; }

.question_number .form-group {
  margin-bottom: 17px;
  display: flex;
  justify-content: center; }
  .question_number .form-group.without-label .form-control {
    padding-top: 12px; }
  .question_number .form-group.without-label .input-wrap:before {
    top: 21px;
    bottom: 21px; }

.question_number .img-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  color: #949da2;
  font-size: 20px; }

.question_number .input-wrap {
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
  background: #fff;
  border: 1px solid #cfdadd;
  border-radius: 6px;
  height: 70px; }
  .question_number .input-wrap._focused_ {
    border-width: 2px;
    border-color: #00ccff; }
    .question_number .input-wrap._focused_:before {
      visibility: visible; }
    .question_number .input-wrap._focused_ .form-control {
      box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.15);
      outline: none;
      opacity: 1; }
    .question_number .input-wrap._focused_ .input-label {
      font-size: 11px;
      line-height: 15px;
      top: 12px;
      transform: translateX(-50%); }
    .question_number .input-wrap._focused_.focused:before {
      visibility: hidden; }
  .question_number .input-wrap:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 29px;
    bottom: 13px;
    background: #0f101a;
    width: 1px;
    margin: 0 0 0 -2px;
    animation: blink_cursor 1s infinite;
    visibility: hidden;
    pointer-events: none; }
  .question_number .input-wrap.currency-prefix:before {
    margin: 0 0 0 5px; }
  .question_number .input-wrap.percantage-prefix:before {
    margin: 0 0 0 -12px; }
  .question_number .input-wrap.focused {
    border-width: 2px;
    border-color: #00ccff; }
    .question_number .input-wrap.focused .form-control {
      opacity: 1; }
    .question_number .input-wrap.focused .input-label {
      font-size: 11px;
      line-height: 15px;
      top: 12px;
      transform: translateX(-50%); }
  .question_number .input-wrap.validate .form-control {
    border-color: #dcdddd;
    border-width: 1px;
    box-shadow: none; }
  .question_number .input-wrap.validate .icon-valid {
    opacity: 1;
    visibility: visible; }
  .question_number .input-wrap.error .icon-invalid {
    opacity: 1;
    visibility: visible; }
  .question_number .input-wrap .input-label {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #b4bbbc;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
    cursor: inherit; }
    .question_number .input-wrap .input-label.error-message {
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
      color: #f00;
      text-align: center;
      display: block;
      text-transform: none;
      transform: none;
      top: 14px; }
  .question_number .input-wrap .icon-valid {
    font-size: 12px;
    line-height: 16px;
    color: #27c602;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease; }
    @media (min-width: 768px) {
      .question_number .input-wrap .icon-valid {
        font-size: 16px;
        line-height: 20px;
        right: 14px; } }
  .question_number .input-wrap .icon-invalid {
    font-size: 20px;
    line-height: 24px;
    color: #f00;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease; }

.question_number .error-message {
  position: relative;
  display: block;
  text-align: center;
  font-weight: 700;
  color: #f00;
  padding: 5px 0 0;
  z-index: 9; }
  .question_number .error-message:empty {
    margin: 0; }

.question_number.mobile-view .powered-by-area .img-wrap {
  width: 100px;
  height: auto;
  padding: 4px;
  border-radius: 2px; }
  .question_number.mobile-view .powered-by-area .img-wrap img {
    width: 100%;
    height: auto;
    vertical-align: top; }

.question_number.mobile-view .form-group {
  margin-bottom: 12px;
  flex-wrap: wrap; }
  .question_number.mobile-view .form-group.without-label .input-wrap:before {
    top: 17px;
    bottom: 17px; }

.question_number.mobile-view .unit__field {
  width: 100%;
  margin: 4px 0 0; }

.question_number.mobile-view .input-wrap {
  height: 58px;
  border-radius: 4px; }
  .question_number.mobile-view .input-wrap:before {
    top: 25px;
    bottom: 8px;
    margin: 0; }
  .question_number.mobile-view .input-wrap._focused_ .input-label {
    font-size: 10px;
    line-height: 14px;
    top: 12px; }
  .question_number.mobile-view .input-wrap.focused .input-label {
    font-size: 10px;
    line-height: 14px;
    top: 12px; }
  .question_number.mobile-view .input-wrap .input-label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    padding: 0 20px; }
    .question_number.mobile-view .input-wrap .input-label.error-message {
      font-size: 10px;
      line-height: 14px;
      font-weight: 700;
      top: 10px; }
  .question_number.mobile-view .input-wrap .icon-valid {
    font-size: 12px;
    line-height: 16px; }
  .question_number.mobile-view .input-wrap .icon-invalid {
    font-size: 14px;
    line-height: 18px; }
  .question_number.mobile-view .input-wrap .icon-search {
    font-size: 16px;
    line-height: 20px; }

.question_number.mobile-view .form-control {
  padding: 28px 30px 12px 30px;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap; }
  .question_number.mobile-view .form-control.filled, .question_number.mobile-view .form-control:focus {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15); }

.question_number.mobile-view .address-map-area__iframe {
  height: 200px;
  border-radius: 2px;
  padding: 5px;
  margin: 0 0 20px; }

.question_number.mobile-view .list-address-actions__item {
  width: 100%;
  margin: 0 0 5px; }

.question_number.mobile-view .list-address-actions__text {
  font-size: 14px;
  line-height: 18px;
  padding: 12px 15px; }
