/**
*    Background Image Mixin
*
*    @param {string}          [$file-name]
*    @param {number}          [$height]
*    @param {number}          [$width]
*    @param {number number}   [$position]
*
*    returns  Returns background-image, height, width
*/
/**
*    Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
*    Inline Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
* Un order list Mixin
*/
/**
*    Add ellipsis in the element
*
*    @param {string}          [$max-width]
*
*    Returns overflow, text-overflow, white-space and optional max-width
*/
/* funnel datepicker overlay styling */
.funnel-datepicker-overlay {
  padding: 0 0 0 420px;
  visibility: visible;
  opacity: 1;
  z-index: 1030; }
  .funnel-datepicker-overlay .panel-aside-wrap-overlay {
    position: relative;
    max-height: calc(100vh - 82px); }
  .funnel-datepicker-overlay .panel-aside__head {
    margin: 0 0 5px; }
  .funnel-datepicker-overlay .panel-aside {
    width: 420px; }
    .panel-aside_closed .funnel-datepicker-overlay .panel-aside {
      left: -340px !important; }
    .funnel-datepicker-overlay .panel-aside .fb-modal__option {
      font-size: 16px; }
    .funnel-datepicker-overlay .panel-aside__title.has-icon {
      padding: 0 0 0 35px; }
  .funnel-datepicker-overlay .panel-aside__body {
    padding: 0 30px 15px !important; }
    .funnel-datepicker-overlay .panel-aside__body .form-group:last-child {
      margin-bottom: 0; }
  .funnel-datepicker-overlay .fb-tooltip {
    margin: 0 8px; }
  .funnel-datepicker-overlay .fb-form__caption .question-mark {
    margin-left: 0; }
  .funnel-datepicker-overlay .question-mark.el-tooltip {
    margin-left: 0; }
  .funnel-datepicker-overlay .fb-modal__handler i {
    transition: all 0.4s ease;
    transform: none;
    color: #c7d4df; }
  .funnel-datepicker-overlay .fb-modal__handler.open i {
    transform: rotate(180deg); }
  .funnel-datepicker-overlay .form-group[disabled] {
    cursor: not-allowed;
    opacity: 0.7; }
    .funnel-datepicker-overlay .form-group[disabled] .fb-modal__handler {
      cursor: not-allowed;
      pointer-events: none; }
  .funnel-datepicker-overlay .toggle[disabled] {
    background: #f6f8f8;
    border-color: #f6f8f8; }
    .funnel-datepicker-overlay .toggle[disabled] .toggle-group .btn-off {
      background: #f6f8f8; }
    .funnel-datepicker-overlay .toggle[disabled] .toggle-group .btn {
      cursor: not-allowed;
      color: #b2c0d3; }
  .funnel-datepicker-overlay .fb-form__group .fb-form-control {
    font-size: 16px;
    text-transform: none; }
  .funnel-datepicker-overlay .fb-toggle .toggle.btn {
    width: 72px !important;
    min-width: 72px !important; }
  .funnel-datepicker-overlay .fb-toggle .toggle-handle {
    width: 54px; }
  .funnel-datepicker-overlay .fb-toggle .toggle-group .btn {
    font-size: 11px;
    padding: 5px 11px 5px 9px; }
  .funnel-datepicker-overlay .classic-editor__wrapper .fr-toolbar .fr-command.fr-btn {
    width: 38px; }
  .funnel-datepicker-overlay .hide-checkbox {
    margin: 20px 0 0; }
  .funnel-datepicker-overlay .slider-track-low,
  .funnel-datepicker-overlay .slider-track-high,
  .funnel-datepicker-overlay .slider-track {
    border-radius: 10px; }
  .funnel-datepicker-overlay .color-box__panel-wrapper {
    z-index: 1050; }
    .funnel-datepicker-overlay .color-box__panel-wrapper label {
      margin: 0 0 14px; }
  .funnel-datepicker-overlay .fb-tab__link {
    height: 50px;
    font-size: 15px; }
    .funnel-datepicker-overlay .fb-tab__link.active {
      color: #707d84; }
      .funnel-datepicker-overlay .fb-tab__link.active:after {
        border-bottom-color: #01aef0; }
  .funnel-datepicker-overlay .pop-link .fr-popup {
    left: auto !important;
    width: 240px;
    right: -95px; }
    .funnel-datepicker-overlay .pop-link .fr-popup .fr-layer {
      width: 218px; }
  .funnel-datepicker-overlay .fr-popup .fr-btn-wrap button:nth-child(2) {
    width: 16px !important; }
  .funnel-datepicker-overlay .pop-emotions .fr-popup {
    left: auto !important;
    width: 240px;
    right: -95px; }
    .funnel-datepicker-overlay .pop-emotions .fr-popup.fr-active {
      top: 38px !important; }
  .funnel-datepicker-overlay .fr-wrapper.show-placeholder {
    min-height: 127px; }
  .funnel-datepicker-overlay .fr-command.fr-btn.fr-disabled,
  .funnel-datepicker-overlay .fr-popup .fr-command.fr-btn.fr-disabled {
    color: #8e8c8c !important; }
  .funnel-datepicker-overlay .funnel-checkbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .funnel-datepicker-overlay .funnel-checkbox .checkbox-label {
      width: 72px;
      height: 30px;
      position: relative;
      display: block;
      margin: 0;
      overflow: hidden; }
    .funnel-datepicker-overlay .funnel-checkbox .checkbox-area {
      font-size: 11px;
      line-height: 30px;
      font-weight: 600;
      width: 100%;
      height: 100%;
      position: relative;
      background: #c114ed;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      border-radius: 3px;
      display: block;
      color: #fff;
      cursor: pointer; }
      .funnel-datepicker-overlay .funnel-checkbox .checkbox-area:before {
        transition: all 0.3s ease-in-out;
        content: 'ON';
        position: absolute;
        right: -25px;
        top: 0;
        bottom: 0; }
      .funnel-datepicker-overlay .funnel-checkbox .checkbox-area:after {
        transition: all 0.3s ease-in-out;
        content: 'OFF';
        position: absolute;
        left: 11px;
        top: 0;
        bottom: 0; }
      .funnel-datepicker-overlay .funnel-checkbox .checkbox-area .handle {
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border-radius: 2px;
        background: #fff;
        width: 27px;
        z-index: 2; }
    .funnel-datepicker-overlay .funnel-checkbox .fb-field-label[disabled] + .checkbox-area {
      background: #f6f8f8;
      color: #b2c0d3; }
    .funnel-datepicker-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area {
      background: #27c24c; }
      .funnel-datepicker-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area:before {
        right: 11px; }
      .funnel-datepicker-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area:after {
        left: -25px; }
      .funnel-datepicker-overlay .funnel-checkbox .fb-field-label:checked + .checkbox-area .handle {
        right: 43px; }
  .funnel-datepicker-overlay .datepicker-option-wrap {
    position: relative; }
  .funnel-datepicker-overlay .datepicker-option-wrap {
    position: relative; }
    .funnel-datepicker-overlay .datepicker-option-wrap + .datepicker-option-wrap {
      padding-top: 8px; }
    .funnel-datepicker-overlay .datepicker-option-wrap.has-tooltip {
      padding-right: 30px; }
      .funnel-datepicker-overlay .datepicker-option-wrap.has-tooltip .fb-tooltip {
        position: absolute;
        right: 0;
        top: 22px;
        margin: 0; }
  .funnel-datepicker-overlay .select-title {
    font-weight: 400; }
  .funnel-datepicker-overlay .select2-results .select-title {
    display: none; }
  .funnel-datepicker-overlay .select2-results span {
    font-weight: 400; }
  .funnel-datepicker-overlay .fb-modal__disable-date {
    margin: 20px 0 -20px;
    border-bottom: none;
    border-top: 1px solid #f2f3f3; }
  .funnel-datepicker-overlay .btn-calendar {
    min-width: 168px;
    position: relative;
    padding-left: 66px;
    text-align: left; }
    .funnel-datepicker-overlay .btn-calendar .img {
      position: absolute;
      left: 0;
      top: 4px;
      bottom: 4px;
      width: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #4ec4f2; }
    .funnel-datepicker-overlay .btn-calendar .ico {
      font-size: 20px; }

.colorpicker-active .select2-dropdown {
  z-index: 1050; }

.select-date-style-parent .select2-results__options .select-title {
  display: none; }

.select-date-style-parent .select2-results__options span {
  font-weight: 400; }

.select-date-style-parent .select2-results__options .date {
  position: relative;
  min-width: 133px;
  padding: 0 20px 0 0;
  display: inline-block;
  vertical-align: top; }
  .select-date-style-parent .select2-results__options .date:after {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 3px;
    height: 1px;
    content: '';
    background: #fff; }

.select-date-style-parent .select2-selection__rendered .date {
  display: none; }

.select-date-style-parent .select2-selection__rendered .select-title {
  font-weight: 400; }

.calendar-popup .modal-body {
  margin: 0 -20px; }

.calendar-popup .quick-scroll .mCSB_inside > .mCSB_container {
  margin: 0; }

.calendar-popup .btn-reset {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #707d84;
  text-transform: uppercase; }
  .calendar-popup .btn-reset:hover {
    color: #02abec; }
    .calendar-popup .btn-reset:hover .ico {
      color: #02abec; }
  .calendar-popup .btn-reset .ico {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
    color: #9fa8ad; }

.calendar-popup .modal-dialog {
  max-width: 400px;
  min-width: 400px; }

.calendar-popup .calendar-selector {
  opacity: 0;
  visibility: hidden;
  position: absolute; }

.calendar-popup .flatpickr-calendar {
  width: 100%;
  box-shadow: none;
  padding: 0 0 2px; }

.calendar-popup .calendar-wrap {
  padding: 20px; }

.calendar-popup .rangeMode .flatpickr-day {
  margin: 0 0 2px; }

.calendar-popup .range-selector-holder {
  border-top: 1px solid #f2f3f3;
  padding: 20px 0 0;
  margin: 4px 0 0; }
  .calendar-popup .range-selector-holder label {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 32px;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 18px; }
  .calendar-popup .range-selector-holder input[type="checkbox"]:checked + .fake-check:after {
    opacity: 1;
    visibility: visible; }
  .calendar-popup .range-selector-holder .fake-check {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 21px;
    height: 21px;
    border: 1px solid #cfdadd;
    border-radius: 1px; }
    .calendar-popup .range-selector-holder .fake-check:after {
      position: absolute;
      left: 3px;
      top: 0;
      content: "\e909";
      font-family: 'icomoon';
      font-size: 14px;
      line-height: 18px;
      color: #02abec;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease; }

.calendar-popup .flatpickr-weekdays {
  margin: 0 0 10px; }

.calendar-popup .flatpickr-days,
.calendar-popup .flatpickr-weekdays,
.calendar-popup .flatpickr-rContainer,
.calendar-popup .dayContainer {
  width: 100%;
  max-width: inherit; }

.calendar-popup .flatpickr-current-month {
  width: calc(100% - 30px);
  left: 15px;
  height: auto;
  padding: 0; }

.calendar-popup .flatpickr-monthDropdown-months {
  width: 150px;
  height: 38px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #cfdadd;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 4px;
  color: #707D84; }

.calendar-popup .numInputWrapper {
  padding: 0;
  margin: 0 0 0 8px;
  width: 88px; }
  .calendar-popup .numInputWrapper input {
    width: 100%;
    height: 38px;
    border: 1px solid #cfdadd;
    padding: 0 15px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 4px;
    color: #707D84; }
  .calendar-popup .numInputWrapper span {
    display: none; }

.calendar-popup .flatpickr-months {
  position: relative; }
  .calendar-popup .flatpickr-months .flatpickr-month {
    height: 60px; }
  .calendar-popup .flatpickr-months .flatpickr-prev-month,
  .calendar-popup .flatpickr-months .flatpickr-next-month {
    padding: 0;
    top: 7px; }
    .calendar-popup .flatpickr-months .flatpickr-prev-month svg,
    .calendar-popup .flatpickr-months .flatpickr-next-month svg {
      width: 18px;
      height: 18px; }

.calendar-popup span.flatpickr-weekday,
.calendar-popup .flatpickr-day {
  font-size: 19px; }

.calendar-popup .flatpickr-day {
  height: 49px;
  max-width: 49px;
  line-height: 49px;
  border-radius: 6px;
  margin: 0 0 2px;
  box-shadow: none !important; }

.calendar-popup .flatpickr-day.inRange,
.calendar-popup .flatpickr-day.prevMonthDay.inRange,
.calendar-popup .flatpickr-day.nextMonthDay.inRange,
.calendar-popup .flatpickr-day.today.inRange,
.calendar-popup .flatpickr-day.prevMonthDay.today.inRange,
.calendar-popup .flatpickr-day.nextMonthDay.today.inRange,
.calendar-popup .flatpickr-day:hover,
.calendar-popup .flatpickr-day.prevMonthDay:hover,
.calendar-popup .flatpickr-day.nextMonthDay:hover,
.calendar-popup .flatpickr-day:focus,
.calendar-popup .flatpickr-day.prevMonthDay:focus,
.calendar-popup .flatpickr-day.nextMonthDay:focus,
.calendar-popup .flatpickr-day.selected,
.calendar-popup .flatpickr-day.today {
  background: #02abec;
  color: #fff;
  border-color: #02abec; }

.calendar-popup .flatpickr-current-month .flatpickr-monthDropdown-months:hover,
.calendar-popup .numInputWrapper:hover {
  background: none; }

.calendar-popup .flatpickr-months .flatpickr-prev-month:hover svg,
.calendar-popup .flatpickr-months .flatpickr-next-month:hover svg {
  color: #02abec; }

.calendar-popup .flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: none; }

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 6px 0 0 6px; }

.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0 6px 6px 0; }
