/**
*    Background Image Mixin
*
*    @param {string}          [$file-name]
*    @param {number}          [$height]
*    @param {number}          [$width]
*    @param {number number}   [$position]
*
*    returns  Returns background-image, height, width
*/
/**
*    Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
*    Inline Vertical And Horizontal Alignment Mixin
*
*    @param {string}          [$align-item]
*    @param {string}          [$justify-content]
*
*    Returns display and optional align-items and justify-content
*/
/**
* Un order list Mixin
*/
/**
*    Add ellipsis in the element
*
*    @param {string}          [$max-width]
*
*    Returns overflow, text-overflow, white-space and optional max-width
*/
.lead-counter {
  font-weight: 700;
  position: relative; }

.lead__info {
  color: #707d84;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700; }
  .lead__info:before {
    top: 2px;
    content: "";
    height: 13px;
    width: 13px;
    left: -25px;
    background: #27c24c;
    border-radius: 50%;
    position: absolute; }

.lead__options {
  height: 72px;
  align-items: center;
  border: solid #f2f3f3;
  border-width: 1px 0; }
  .lead__options .ico {
    margin: 0 9px 0 0;
    color: #9fa8ad; }
  @media (min-width: 1600px) {
    .lead__options .action__item {
      margin-right: 40px; } }
  .lead__options .action__item:only-child {
    margin-right: 0; }

.lead__btn-del {
  border: 1px solid #f2f3f3;
  padding: 8.5px 14.5px;
  border-radius: 3px; }
  .lead__btn-del .ico {
    color: #ec394a; }

.lead-selection {
  padding: 26px 0 15px; }
  .lead-selection label {
    font-size: 22px;
    line-height: 20px;
    font-weight: 300; }

.lead-sorting {
  display: flex;
  align-items: center; }
  .lead-sorting span {
    margin: 0 13px 0 0; }

.lead__name {
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  color: #707d84; }
  .lead__name:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    background: transparent; }
  .lead__name:hover {
    color: #707d84; }

.lead-date {
  font-weight: 600;
  font-size: 15px;
  text-transform: none; }

.lead-pagination {
  margin: 26px 0 0;
  padding: 26px 0 0;
  border-top: solid 1px #f2f3f3; }
  .lead-pagination .action__list {
    margin-top: 0; }
  .lead-pagination .action__item {
    margin: 0 0 0 5px !important; }
  .lead-pagination .action__link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    line-height: 1;
    border-radius: 3px;
    border: solid 1px #f2f3f3; }
    .lead-pagination .action__link.active {
      border: 1px solid #02abec;
      color: #02abec; }

.pagination-label {
  margin: 0 17px 0 0; }

.leads-result {
  margin: -12px 0 0; }
  .leads-result .not-found-msg {
    font-size: 28px;
    line-height: 26px;
    font-weight: 300;
    color: #707d84;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 0;
    height: 150px; }

.leads-panel {
  padding: 13px;
  margin: 12px 0 0;
  border-radius: 3px;
  background: #f6f8f8;
  position: relative; }
  .leads-panel .lead-label {
    position: relative;
    z-index: 4; }
  .leads-panel__info {
    padding: 0 0 16px;
    border-bottom: solid 1px #e8eeef; }
    .leads-panel__info [type="checkbox"] + label:before {
      top: -10px; }
    .leads-panel__info [type="checkbox"] + label:after {
      top: -3px; }
    .leads-panel__info [type="checkbox"] + label.label-color + .lead__name {
      color: #02abec; }
  .leads-panel__details {
    padding: 14px 0 0; }
    .leads-panel__details .action__item {
      flex: 1;
      text-transform: none;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      text-align: center; }
      .leads-panel__details .action__item:nth-child(2) {
        border: solid rgba(207, 218, 221, 0.34);
        border-width: 0 1.5px; }
  .leads-panel.new-lead {
    background: #27c24c; }
    .leads-panel.new-lead .leads-panel__info {
      border-color: #52ce70; }
    .leads-panel.new-lead * {
      color: #fff; }
    .leads-panel.new-lead [type="checkbox"] + label.label-color + .lead__name {
      color: #fff; }

.leadsort {
  color: #000;
  width: 27px;
  height: 27px;
  display: flex;
  font-size: 10px;
  margin: 0 0 0 3px;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f3f3;
  padding: 2px 0 0; }
  .leadsort:hover {
    color: initial; }
  .leadsort.sort-active {
    color: #02abec;
    border-color: #02abec; }

.alpha__search {
  display: flex;
  padding: 5px 0;
  list-style: none;
  text-align: center;
  margin: 18px 0 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  border: solid 1px #f2f3f3; }
  @media (max-width: 1366px) {
    .alpha__search {
      padding: 0; } }
  .alpha__search .view-all {
    min-width: 128px;
    padding: 10px 0; }
    @media (max-width: 1366px) {
      .alpha__search .view-all {
        min-width: 80px; } }

.alpha__item {
  flex: 1;
  cursor: pointer;
  padding: 10px 0;
  position: relative; }
  .alpha__item:after {
    right: 0;
    top: -5px;
    width: 1px;
    content: "";
    bottom: -5px;
    position: absolute;
    background: #f2f3f3; }
    @media (max-width: 1366px) {
      .alpha__item:after {
        top: 0;
        bottom: 0; } }
  .alpha__item:hover .alpha__link {
    color: #02abec; }
  .alpha__item.active__lead .alpha__link {
    color: #02abec;
    text-decoration: underline; }
  .alpha__item__link {
    color: #707d84; }

#title__tag::-webkit-input-placeholder {
  color: #707d84; }

#title__tag::-moz-placeholder {
  opacity: 1;
  color: #707d84; }

#title__tag:-moz-placeholder {
  color: #707d84; }

#title__tag:-ms-input-placeholder {
  color: #707d84; }

#title__tag.placeholder {
  color: #707d84; }

.lead-modal-wrapper {
  margin: 8px 0 12px; }
  .lead-modal-wrapper .row {
    background: #fff;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    margin: 0 0 12px;
    overflow: hidden; }
    .lead-modal-wrapper .row:nth-child(even) .lead-modal-des .outer {
      background: #fcfcfc; }
      .lead-modal-wrapper .row:nth-child(even) .lead-modal-des .outer:nth-child(even) {
        background: #fff; }
    .lead-modal-wrapper .row:last-child {
      margin-bottom: 0; }
    .lead-modal-wrapper .row .col-sm-12 {
      padding: 0; }

.lead-modal-des {
  color: #d4dde4;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px; }
  .lead-modal-des .modal-left {
    border-right: none;
    padding: 12px 27px !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 47.2%; }
    .lead-modal-des .modal-left:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #eaeced;
      z-index: 3; }
    .lead-modal-des .modal-left h5 {
      position: relative;
      line-height: 18px;
      color: #707d84;
      margin: 0;
      z-index: 3; }
  .lead-modal-des .modal-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 30px !important;
    flex-grow: 1;
    flex-basis: 0; }
    .lead-modal-des .modal-right h5 {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: #707d84;
      position: relative;
      margin: 0;
      z-index: 3; }
      .lead-modal-des .modal-right h5 a {
        color: #707d84; }
  .lead-modal-des .outer {
    position: relative;
    display: flex;
    border-bottom: 1px solid #eaeced; }
    .lead-modal-des .outer:before {
      content: '';
      background: #02abec;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 3px;
      opacity: 0;
      visibility: hidden;
      z-index: 2; }
    .lead-modal-des .outer:hover:before {
      opacity: 1;
      visibility: visible; }
    .lead-modal-des .outer:hover .modal-left:before {
      background: #03c4f2;
      top: 3px;
      bottom: 3px; }
    .lead-modal-des .outer:hover h5 {
      color: #fff !important; }
      .lead-modal-des .outer:hover h5 a {
        color: #fff !important; }
    .lead-modal-des .outer:nth-child(even) {
      background: #fcfcfc; }
    .lead-modal-des .outer:last-child {
      border-bottom: none; }

.lead-modal-des-2 .modal-left {
  border-right: 1px solid #eaeced;
  padding-right: 60px;
  display: inline-block;
  width: 40%; }
  .lead-modal-des-2 .modal-left h5 {
    color: #707d84;
    margin: 0 0 10px; }

.lead-modal-des-2 .modal-right {
  padding-left: 20px;
  display: inline-block; }
  .lead-modal-des-2 .modal-right h5 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #707d84; }

.lead-modal-des-2 .outer {
  border-bottom: 1px solid #eaeced; }
  .lead-modal-des-2 .outer:last-child {
    border-bottom: none; }
  .lead-modal-des-2 .outer:first-child h5 {
    padding: 21px 0 0; }
  .lead-modal-des-2 .outer h5 {
    margin: 0; }
  .lead-modal-des-2 .outer > div {
    padding-top: 5px;
    padding-bottom: 5px; }

.leads-data-range {
  position: relative; }
  .leads-data-range .fa-calendar {
    color: #02abec;
    padding: 0 20px 0 0; }
  .leads-data-range .daterangepicker {
    width: 552px;
    padding: 15px 15px 0; }
    .leads-data-range .daterangepicker .calendar {
      max-width: 260px; }
    .leads-data-range .daterangepicker.ltr .ranges {
      float: right; }
  .leads-data-range .caret {
    padding: 0 10px; }
  .leads-data-range .range_inputs {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse; }

#avllead .tooltip {
  width: 300px;
  left: -135px !important;
  -webkit-transform: translate3d(-2px, -74px, 0px) !important;
  -moz-transform: translate3d(-2px, -92px, 0px) !important; }
