<!-- select icon modal -->
<div class="modal fade select-icon-modal" id="select-icon-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Icon</h5>
            </div>
            <div class="modal-body">
                <div class="icons-list-holder">
                    <ul class="icons-list">

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="btns-list">
                    <li>
                        <button type="button" class="button button-cancel btn-cancel-icon" data-dismiss="modal">Close</button>
                    </li>
                    <li>
                        <button type="button" class="button button-primary btn-add-icon">Select</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
