<div class="form-group" data-parent>
    <div class="fb-modal__row">
        <div class="fb-modal__option">
            Field Details
        </div>
        <div class="fb-modal__control">
            <div class="fb-modal__handler" data-handler>
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>
    <div class="fb-modal__border-row" data-handler-slide style="display: none">
        <div class="fb-form">
            <div class="fb-form__caption">
                <span class="fb-form__middle">Unique Variable Name</span>
                <span class="fb-tooltip">
                    <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
                </span>
            </div>
            <div class="fb-form__group-holder">
                <div class="fb-form__group">
                    <input type="text" value="{{unique-variable-name}}" class="form-control fb-form-control unique-variable-text" data-field-name="unique-variable-name" data-change-unique-variable placeholder="Unique Variable Name">
                    <span class="tag-box"> <i class="ico-close-bracket"></i> </span>
                </div>
                <a href="#" class="undo-btn btn-unique-variable el-tooltip" title='<div class="reset-tooltip">Reset to Default</div>'  data-field="unique-variable-name" data-value="{{unique-variable-name}}"><i class="ico-undo"></i></a>
            </div>
            <span class="zip-text">If you're not sure what you're doing, leave this as is!</span>
        </div>
    </div>
</div>
