<div class="disbale-option-tooltip-area mobile-mode">
    <strong class="title">Preview Mode</strong>
    <p>Editing is disabled when you're in Mobile Preview Mode. Click the desktop monitor icon in the top navigation to activate editing, or simply use the toggle below.</p>
    <div class="bottom-toggle-info">
        <span class="text">Mobile Preview Mode</span>
        <div class="funnel-checkbox">
            <label class="checkbox-label">
                <input class="fb-field-label" type="checkbox" checked>
                <span class="checkbox-area">
                    <span class="handle"></span>
                </span>
            </label>
        </div>
    </div>
</div>
