<div class="fb-modal__row">
    <div class="fb-modal__option">Multiple Selections</div>
    <div class="fb-modal__control">
        <div class="funnel-checkbox">
            <label class="checkbox-label">
                <input class="fb-field-label" type="checkbox" data-opener-checkbox data-on-checked-update-fields='"automatic-progress":0' data-on-unchecked-update-fields='"automatic-progress":1' data-field-name="select-multiple" {{#ifCond select-multiple '==' 1}}checked{{/ifCond}}>
                <span class="checkbox-area">
                    <span class="handle"></span>
                </span>
            </label>
        </div>
    </div>
</div>
