<div class="fb-modal__row" data-other-field>
    <div class="fb-modal__option fb-modal__option_light">
        <span class="fb-modal__middle">Add "Other" Option</span>
        <span class="fb-tooltip">
            <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
        </span>
    </div>
    <div class="fb-modal__control">
        <div class="funnel-checkbox">
            <label class="checkbox-label">
                <input class="fb-field-label" type="checkbox" data-include-option data-field-name="add-other-option" value="Other" {{#ifCond add-other-option '==' 1}}checked{{/ifCond}}>
                <span class="checkbox-area">
                    <span class="handle"></span>
                </span>
            </label>
        </div>
    </div>
</div>

