<div class="fb-modal__row fb-modal__row_tb" data-randomize>
    <div class="fb-modal__option fb-modal__option_light">
        <span class="fb-modal__middle">Randomize</span>
        <span class="fb-tooltip">
            <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
        </span>
    </div>
    <div class="fb-modal__control">
        <div class="funnel-checkbox">
            <label class="checkbox-label">
                <input class="fb-field-label" type="checkbox" data-opener-checkbox data-on-checked-update-fields='"alphabetize":0' data-field-name="randomize" {{#ifCond randomize '==' 1}}checked{{/ifCond}}>
                <span class="checkbox-area">
                    <span class="handle"></span>
                </span>
            </label>
        </div>
    </div>
</div>
