<div class="form-group fb-modal__border-box_dropdown numeric-field">
    <div class="fb-modal__row">
        <div class="fb-modal__option">Show Millions as M</div>
        <div class="fb-modal__control">
            <div class="funnel-checkbox">
                <label class="checkbox-label">
                    <input class="fb-field-label" type="checkbox" data-slider-format-checkbox data-format-option="millions" data-field-name="show-formats.millions" {{#ifCond show-formats.millions '==' 1}}checked{{/ifCond}}>
                    <span class="checkbox-area"><span class="handle"></span></span>
                </label>
            </div>
        </div>
    </div>
</div>
