.helper_overlay {
  .header {
    background: none;
    .header__h3 {
      margin-bottom: 10px;
      line-height: 39.6px;
    }

    .header__h2 {
      line-height: 44px;
    }
  }
}

.survey-overlay .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 7px !important;
}

.survey-overlay {
  .mCustomScrollBox {
    max-height: inherit !important;
  }
}

ul.lp-noteBox {
  margin: 0;
}

.helper_overlay input[type="checkbox"] + label {
  padding: 0 !important;
}

ul.lp-noteBox li.lp_noteBox__li {
  font-size: 14px;
}

ul.lp-noteBox li.lp_noteBox__li h2 {
  font-weight: 700;
  line-height: 29.7px;
}

.lp-step7__radio,
.lp-step6__radio,
.helper_overlay .footer_close_link{
  font-size: 14px;
  line-height: 1.42857143;
}

.helper_overlay .item_box h3 {
  line-height: 26.4px;
}