@font-face {
  font-family: 'ex-content-icomoon';
  src:  url('../fonts/ex-content-icomoon.eot?cv8h0f');
  src:  url('../fonts/ex-content-icomoon.eot?cv8h0f#iefix') format('embedded-opentype'),
  url('../fonts/ex-content-icomoon.ttf?cv8h0f') format('truetype'),
  url('../fonts/ex-content-icomoon.woff?cv8h0f') format('woff'),
  url('../fonts/ex-content-icomoon.svg?cv8h0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ex-content-ico-"], [class*=" ex-content-ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ex-content-icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ex-content-ico-mail:before {
  content: "\e90f";
}
.ex-content-ico-email:before {
  content: "\e90f";
}
.ex-content-ico-letter:before {
  content: "\e90f";
}
.ex-content-ico-envelope:before {
  content: "\e90f";
}
.ex-content-ico-contact:before {
  content: "\e90f";
}
.ex-content-ico-devices:before {
  content: "\e900";
}
.ex-content-ico-shield-5:before {
  content: "\e976";
}
.ex-content-ico-shield-4:before {
  content: "\e977";
}
.ex-content-ico-shield-3:before {
  content: "\e978";
}
.ex-content-ico-shield-2:before {
  content: "\e979";
}
.ex-content-ico-shield-1:before {
  content: "\e97a";
}
.ex-content-ico-lock-5:before {
  content: "\e97b";
}
.ex-content-ico-lock-4:before {
  content: "\e97c";
}
.ex-content-ico-lock-3:before {
  content: "\e97d";
}
.ex-content-ico-lock-2:before {
  content: "\e97e";
}
.ex-content-ico-lock-1:before {
  content: "\e97f";
}
.ex-content-ico-z:before {
  content: "\e975";
}
.ex-content-ico-warning:before {
  content: "\e95f";
}
.ex-content-ico-tag:before {
  content: "\e95c";
}
.ex-content-ico-down:before {
  content: "\e98f";
}
.ex-content-ico-left:before {
  content: "\e990";
}
.ex-content-ico-right:before {
  content: "\e991";
}
.ex-content-ico-calendar:before {
  content: "\e992";
}
.ex-content-ico-tour:before {
  content: "\e98e";
}
.ex-content-ico-search-2:before {
  content: "\e98d";
}
.ex-content-ico-unlock:before {
  content: "\e98c";
}
.ex-content-ico-drag-dots:before {
  content: "\e98a";
}
.ex-content-ico-btn:before {
  content: "\e987";
}
.ex-content-ico-image:before {
  content: "\e984";
}
.ex-content-ico-marketing-hub:before {
  content: "\e954";
}
.ex-content-ico-Mobile:before {
  content: "\e945";
}
.ex-content-ico-start-rate:before {
  content: "\e947";
}
.ex-content-ico-lock:before {
  content: "\e901";
}
.ex-content-ico-view:before {
  content: "\e902";
}
.ex-content-ico-plus:before {
  content: "\e903";
}
.ex-content-ico-print:before {
  content: "\e904";
}
.ex-content-ico-reload:before {
  content: "\e907";
}
.ex-content-ico-check:before {
  content: "\e909";
}
.ex-content-ico-question-mark:before {
  content: "\e90a";
}
.ex-content-ico-heart:before {
  content: "\e90d";
}
.ex-content-ico-video:before {
  content: "\e911";
}
.ex-content-ico-full-screen:before {
  content: "\e914";
}
.ex-content-ico-cross:before {
  content: "\e91b";
}
.ex-content-ico-brush:before {
  content: "\e91c";
}
.ex-content-ico-fire:before {
  content: "\e91d";
}
.ex-content-ico-landing:before {
  content: "\e91e";
}
.ex-content-ico-redo:before {
  content: "\e920";
}
.ex-content-ico-hamburger:before {
  content: "\e922";
}
.ex-content-ico-quick:before {
  content: "\e923";
}
.ex-content-ico-caret-down:before {
  content: "\e924";
}
.ex-content-ico-dragging:before {
  content: "\e925";
}
.ex-content-ico-webinars:before {
  content: "\e926";
}
.ex-content-ico-search:before {
  content: "\e927";
}
.ex-content-ico-share1:before {
  content: "\e929";
}
.ex-content-ico-undo:before {
  content: "\e92d";
}
.ex-content-ico-back:before {
  content: "\e930";
}
.ex-content-ico-question:before {
  content: "\e931";
}
.ex-content-ico-copy:before {
  content: "\e932";
}
.ex-content-ico-support:before {
  content: "\e933";
}
.ex-content-ico-mobile:before {
  content: "\e936";
}
.ex-content-ico-caret-up:before {
  content: "\e937";
}
.ex-content-ico-settings:before {
  content: "\e938";
}
.ex-content-ico-phone:before {
  content: "\e939";
}
.ex-content-ico-link:before {
  content: "\e93a";
}
.ex-content-ico-message:before {
  content: "\e93b";
}
.ex-content-ico-arrow-right:before {
  content: "\e93d";
}
.ex-content-ico-arrow-up:before {
  content: "\e93e";
}
.ex-content-ico-mail1:before {
  content: "\e942";
}
.ex-content-ico-email1:before {
  content: "\e943";
}
.ex-content-ico-edit:before {
  content: "\e944";
}
.ex-content-ico-external-link:before {
  content: "\e955";
}
.ex-content-ico-cross-icon:before {
  content: "\e964";
}
.ex-content-ico-instagram-symbol:before {
  content: "\e90e";
}
.ex-content-ico-divder:before {
  content: "\e90b";
}
.ex-content-ico-gif:before {
  content: "\e90c";
}
.ex-content-ico-template:before {
  content: "\e908";
}
.ex-content-ico-save:before {
  content: "\e906";
}
.ex-content-ico-info1:before {
  content: "\e95e";
}
.ex-content-ico-emoji-happy:before {
  content: "\e905";
}
.ex-content-ico-file-upload:before {
  content: "\e96c";
}
.ex-content-ico-thumbs:before {
  content: "\e966";
}
.ex-content-ico-lock1:before {
  content: "\e967";
}
.ex-content-ico-forwad:before {
  content: "\e96b";
}
.ex-content-ico-library:before {
  content: "\e963";
}
.ex-content-ico-folder:before {
  content: "\e962";
}
.ex-content-ico-hash:before {
  content: "\e970";
}
.ex-content-ico-x-altx-alt:before {
  content: "\e960";
}
.ex-content-ico-check-alt:before {
  content: "\e961";
}
.ex-content-ico-youtube1:before {
  content: "\ea9d";
}
.ex-content-ico-pinterest:before {
  content: "\ead1";
}
.ex-content-ico-hidden:before {
  content: "\e96e";
}
.ex-content-ico-birthday:before {
  content: "\e96f";
}
.ex-content-ico-share:before {
  content: "\e94b";
}
.ex-content-ico-facebook:before {
  content: "\e94c";
}
.ex-content-ico-twitter:before {
  content: "\e94d";
}
.ex-content-ico-linkedin:before {
  content: "\e94e";
}
.ex-content-ico-youtube:before {
  content: "\e94f";
}
.ex-content-ico-youtube-play:before {
  content: "\f16a";
}