/* funnel Birthday overlay styling */
.funnel-birthday-overlay {
  padding: 0 0 0 420px;
  visibility: visible;
  opacity: 1;
  z-index: 1030;

  .panel-aside-wrap-overlay {
    position: relative;
    max-height: calc(100vh - 82px);
  }

  .year-text {

    &.years-active {

      span {
        display: none;
      }
    }
  }

  .panel-aside__head {
    margin: 0 0 5px;
  }

  .panel-aside {
    width: 420px;

    .panel-aside_closed & {
      left: -340px !important;
    }

    .fb-modal__option {
      font-size: 16px;
    }
  }

  .panel-aside__body {
    padding: 0 30px 15px !important;

    .form-group:last-child {
      margin-bottom: 0;
    }
  }

  .fb-tooltip {
    margin: 0 8px;
  }

  .fb-form__caption {

    .question-mark {
      margin-left: 0;
    }
  }

  .question-mark {

    &.el-tooltip {
      margin-left: 0;
    }
  }

  .fb-modal__handler {

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 66px;
      background: transparent;
    }

    i {
      transition: all 0.4s ease;
      transform: none;
      color: #c7d4df;
    }

    &.open {

      > i {
        transform: rotate(180deg);
      }
    }
  }

  .form-group {

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.7;

      .fb-modal__handler {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }

  .toggle {

    &[disabled] {
      background: #f6f8f8;
      border-color: #f6f8f8;

      .toggle-group {

        .btn-off {
          background: #f6f8f8;
        }

        .btn {
          cursor: not-allowed;
          color: #b2c0d3;
        }
      }
    }
  }

  .fb-form__group {

    .fb-form-control {
      text-transform: none;
      font-size: 16px;
    }
  }

  .fb-toggle {

    .toggle.btn {
      width: 72px !important;
      min-width: 72px !important;
    }

    .toggle-handle {
      width: 54px;
    }

    .toggle-group {

      .btn {
        font-size: 11px;
        padding: 5px 11px 5px 9px;
      }
    }
  }

  .classic-editor__wrapper {

    .fr-toolbar {
      z-index: inherit !important;

      .fr-command.fr-btn {
        width: 38px;
      }
    }
  }

  .hide-checkbox {
    margin: 20px 0 0;
  }

  .slider-track-low,
  .slider-track-high,
  .slider-track {
    border-radius: 10px;
  }

  .color-box__panel-wrapper {
    z-index: 1050;

    label {
      margin: 0 0 14px;
    }
  }

  .fb-tab__link {
    height: 50px;
    font-size: 15px;

    &.active {
      color: #707d84;

      &:after {
        border-bottom-color: $basic-color;
      }
    }
  }

  .pop-link {

    .fr-popup {
      left: auto !important;
      right: -95px;
    }
  }

  .fr-popup .fr-btn-wrap button:nth-child(2) {
    width: 16px !important;
  }

  .pop-emotions,
  .pop-fontawesome {

    .fr-popup {

      &.fr-active {
        top: 38px !important;
      }
    }
  }

  .fr-wrapper {

    &.show-placeholder {
      min-height: 127px;
    }
  }

  .fr-command.fr-btn.fr-disabled,
  .fr-popup .fr-command.fr-btn.fr-disabled {
    color: #8e8c8c !important;
  }

  .funnel-checkbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .checkbox-label {
      @include size(72px, 30px);
      position: relative;
      display: block;
      margin: 0;
      overflow: hidden;
    }

    .checkbox-area {
      @include font(11, 30, 600);
      @include size(100%, 100%);
      position: relative;
      background: #c114ed;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      border-radius: 3px;
      display: block;
      color: $white;
      cursor: pointer;

      &:before {
        transition: all 0.3s ease-in-out;
        content: 'ON';
        position: absolute;
        right: -25px;
        top: 0;
        bottom: 0;
      }

      &:after {
        transition: all 0.3s ease-in-out;
        content: 'OFF';
        position: absolute;
        left: 11px;
        top: 0;
        bottom: 0;
      }

      .handle {
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border-radius: 2px;
        background: $white;
        width: 27px;
        z-index: 2;
      }
    }

    .fb-field-label {

      &[disabled] {
        + .checkbox-area {
          background: #f6f8f8;
          color: #b2c0d3;
          cursor: not-allowed;
        }
      }

      &:checked {

        + .checkbox-area {
          background: #27c24c;

          &:before {
            right: 11px;
          }

          &:after {
            left: -25px;
          }

          .handle {
            right: 43px;
          }
        }
      }
    }
  }

  .classic-editor__wrapper {
    transition: all 0.15s ease;
    box-shadow: none;
    outline: none;
    text-align: center;
    border-radius: 3px;

    &:focus,
    &.focus {
      border-color: #02abec !important;
    }
  }

  .btn-value-text {
    text-transform: none !important;
  }

  .fb-modal__row {
    position: relative;
  }

  .select2_style {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .advance-options-wrap {

    .data-handler-slide {
      padding: 0;
    }

    &.active {
      border-bottom: none;
    }
  }

  .label-field {
    text-transform: uppercase !important;
  }

  .birthday-option-wrap {
    position: relative;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &[disabled] {
      opacity: 0.4;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        cursor: not-allowed;
        z-index: 1;
      }
    }
  }
}

.tooltip-answer-message {
  font-size: 14px;
  font-weight: 600;
}

.birthday-select2js {

  &__opener {
    position: relative;
    display: block;
    height: 50px;
    border: 1px solid #cfdadd;
    border-radius: 3px;
    color: #707d84;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 30px 15px 15px;

    @include breakpoint(1600) {
      font-size: 11px;
    }

    &:hover {
      color: #707d84;
    }

    &:before {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
      content: '';
      border-width: 5px 4px 0;
      border-style: solid;
      border-color: #707d84 transparent transparent;
    }

    &__text-val {
      font-weight: 700;
      pointer-events: none;
    }
  }

  &.slide-active,
  &.open {

    .birthday-select2js__slide {
      transform: none;
    }
  }

  &__slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #02abec;
    color: #fff;
    border-radius: 3px;
    transform: scale(0);
    transform-origin: 0 0;
    transition: all 0.4s ease;
    z-index: 5;

    &__label {
      text-transform: uppercase;
      font-size: 13px;
      line-height: 17px;
      padding: 15px 15px 10px;
      cursor: pointer;
      position: relative;

      &:after {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        content: '';
        height: 1px;
        background: #03c4f2;
      }
    }

    &__range-wrap {
      padding: 10px 15px 12px;
    }

    &__info-wrap {
      padding: 7px 0 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 13px;
      line-height: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__year {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      padding: 0 0 10px;
    }

    .range-text-val {
      font-size: 26px;
      line-height: 30px;
      font-weight: 700;
      margin: 0 6px -1px 0;
    }

    .slider.slider-horizontal {
      width: 100%;
    }

    .slider-track {
      box-shadow: none;
      background: #029ed9;
    }

    .slider-selection {
      background: #07d5fe;
    }

    .slider-handle {
      border: none;
    }
  }
}

.colorpicker-active .select2-dropdown {
  z-index: 1050;
}
