.input__holder .select2js__cell-carrier.error ~ .select2-container .select2-selection--single {
  border-color: #cc0b0b;
}


.sender__email{
  .lp-table {
    &__item {

      &:first-child {
        flex: 0 0 41.33%;
      }
      &:last-child {
        flex: 0 0 25.33%;
      }
    }
  }
}