/* vehicle message question wrap style */
.vehicle-message-wrap {
   font: 16px/1.2 "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
   background: $white;
   border-radius: 8px;
   box-sizing: border-box;
   color: #6e7c81;

   * {
     box-sizing: border-box;
   }

  .cta-feature-preview-holder {
    overflow: visible;
  }
}

/* vehicle message question style */
.question_vehicle {

  &__fields {
    position: relative;
  }

  .btns-fields {
    overflow: hidden;
    text-align: center;
  }

  .form-group {
    margin-bottom: 17px;
    justify-content: center;
  }

  .scroll-bar {
    position: relative;
    max-height: 415px;
  }

  .mCSB_scrollTools {
    background: #01b6e4;
    top: 10px !important;
    visibility: visible !important;
    right: 10px;
    width: 3px;
    opacity: 1;

    .mCSB_draggerContainer {
      background: none;
      border-radius: 0;
    }

    .mCSB_dragger {

      .mCSB_dragger_bar {
        background: $white !important;
        left: -2px;
        width: 7px;
      }
    }

    .mCSB_draggerRail {
      background: #01b6e4;
      width: 3px;
    }
  }

  .mCSB_inside {

    > .mCSB_container {
      margin-right: 0;
    }
  }

  /* single-select-area style */
  .single-select-area {
    padding: 10px 0 17px;
    max-width: 380px;
    margin: 0 auto;
    width: 100%;

    &.select-active-text {

      .select-opener {
        padding-top: 16px;
        font-size: 11px;
      }
    }

    &.select-active {

      .single-select-dropdown {
        opacity: 1;
        visibility: visible;
        display: block;
      }
    }
  }

  /* single select opener-wrap style */
  .single-select-opener-wrap {
    @include size(100%, 74px);
    position: relative;
    border-radius: 5px;
    background: #01c6f7;

    &:before {
      @include fontsize(16, 22);
      font-family: 'icomoon' !important;
      content: "\e921";
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.4s ease;
      color: $white;
      pointer-events: none;
    }

    &.without-label-text {

      .select-opener-text {
        padding-top: 27px;
      }
    }
  }

  /* select-opener style */
  .select-opener {
    @include font(14, 18, 700);
    color: $white;
    position: relative;
    display: block;
    padding: 27px 40px 20px 26px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease;
    letter-spacing: 1.3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    z-index: 2;

    &:hover {
      color: $white;
    }
  }

  /* select-opener-text style */
  .select-opener-text {
    @include font(18, 22, 600);
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 38px 40px 10px 26px;
    letter-spacing: 0.6px;
  }

  /* single-select-dropdown style */
  .single-select-dropdown {
      background: #01c6f7;
      color: $white;
      position: absolute;
      left: 50%;
      right: 0;
      top: -50px;
      padding: 0 0 20px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      min-height: 400px;
      width: 381px;
      margin: 0 0 0 -190px;
      opacity: 0;
      transition: all 0.4s ease;
      visibility: hidden;
      display: none;
      z-index: 10;

      &__title {
        @include font(13, 18, 700);
        position: relative;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 23px 0 14px;
        margin: 0 25px 8px 18px;
        border-bottom: 1px solid rgba($black, 0.06);
        color: $white;

        &-group {
          padding: 23px 0 8px;
          margin-bottom: 0;
        }

        .icon-cancel {
          @include font(20, 26, 700);
          color: #fff;
          position: absolute;
          cursor: pointer;
          top: 50%;
          right: 2px;
          transform: translateY(-50%);
          display: none;
          z-index: 5;
        }
      }

      &__wrap {
        padding: 13px 0 0;
        position: relative;

        &:first-child {
          padding-top: 0;
        }
      }

      &__holder {
        position: relative;

        &:first-child {

          .group-title {
            border-top: none;
            margin-top: 0;
          }
        }
    }
  }

  /* single-select-list style */
  .single-select-list {
    @include font(16, 20, 600);
    @include listreset();
    position: relative;
    padding: 0 25px 0 18px;

    li {
      position: relative;
      margin-bottom: 3px;
    }

    a {
      position: relative;
      display: block;
      transition: all 0.3s ease;
      color: $white;
      border-radius: 5px;
      text-decoration: none;
      outline: none;
      padding: 9px 7px;
      margin-bottom: 0;

      &:hover, &.hover {
        color: #01c6f7;
        background: $white;
        padding: 9px 16px;
      }

      &:before {
        @include fontsize(15, 15);
        font-family: 'icomoon' !important;
        content: "\e909";
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        color: #01c6f7;
      }

      &.selected {
        color: #01c6f7;
        background: $white;
        padding-left: 43px;

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.question_vehicle {

  &.mobile-view {

    .single-select-area {
      padding: 10px 0 12px;

      &.select-active-text {

        .select-opener {
          padding-top: 8px;
        }
      }

      &.select-active {

        .single-select-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .single-select-opener-wrap {
      @include size(100%, 56px);
      border-radius: 2px;

      &.without-label-text {

        .select-opener-text {
          padding-top: 20px;
        }
      }
    }

    .select-opener {
      @include font(11, 15, 700);
      padding: 20px 30px 20px 24px;
      letter-spacing: 0;

      &:hover {
        color: $white;
      }
    }

    .select-opener-text {
      @include font(14, 18, 600);
      padding: 28px 30px 10px 25px;
    }

    .scroll-bar {
      max-height: calc(80vh - 150px);
    }

    .question_vehicle__fields {
      position: static;
    }

    .single-select-dropdown {
      position: absolute;
      left: 0;
      right: 0;
      top: 0 !important;
      bottom: 0;
      padding: 0 0 15px;
      margin: 0;
      width: 100%;
      min-height: inherit;
      max-height: inherit;
      transform: none;
      border-radius: 3px;

      &__title {
        @include font(11, 15, 700);
        margin-bottom: 8px;
        padding: 20px 30px 16px 4px;

        &-group {
            margin-bottom: 0;
        }

        .icon-cancel {
            display: block;
        }
      }

      &__wrap {
        padding: 13px 0 0;
        position: relative;

        &:first-child {
            padding-top: 0;
        }
      }

      &__holder {
        position: relative;

        &:first-child {

          .group-title {
            border-top: none;
            margin-top: 0;
          }
        }
      }
    }

    .single-select-list {
      @include font(13, 17, 600);
      margin: 0 0 10px;

      a {
        border-radius: 2px;
        padding: 7px;
        margin-bottom: 6px;

        &:hover, &.hover {
          padding: 7px 16px;
        }

        &:before {
          @include fontsize(12, 12);
          left: 8px;
        }

        &.selected {
          padding-left: 35px;
        }
      }
    }
  }
}

.funnel-iframe-inner-holder {

  &:not(.mCS_no_scrollbar) {

    .question_vehicle {

      &.mobile-view {

        .scroll-bar {
          max-height: calc(100vh - 120px);
        }
      }
    }
  }
}