// Colors

$gray: #f0f3f4;
$regent-gray: #85969f;
$black: #000;
$white: #fff;
$blue: #02abec;
$pink: #c114ed;
$green: #27c24c;
$lighter-gray: #f2f3f3;
$light-gray: #f6f8f8;
$default-text: #707d84;
$error-color: #cc0b0b;
$casper: #b2c0d3;
$loblly: #b4c2c9;
$shuttle-gray: #58666e;
$geyser: #cfdadd;
$light-orange: #f1990f;
$facbook-bg: #3f51b5;
$twitter-bg: #33ccff;
$linkedin-bg: #0a66c2;
$porcelain: #e5e9ea;
$gray-light: #a4adb2;


$basic-color: #01aef0;
$primary-color: #073146;
$panel-border-color: #ebeded;
$danger-color: #ec394a;
$success-color: #27c24c;

$image-base-path: '../fbimages';

$dropdown-carte: #707d84;

$base-font-sans-serif: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $regent-gray;
$base-background-color: #f6f8f8;
$font-size-base: 16px;
$line-height-base: 1.2;
$base-font-family: $base-font-sans-serif;

//$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 1280px;

// switch buttons



// Liks
$base-link-color: $blue;

// Forms
$placeholder-color: $gray;

// Headers
$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 16px;
$h6-font-size: 15px;

$headings-font-family: inherit;
$headings-color: inherit;