<script src="assets/pages/funnel-question-cta-overlay.js"></script>
<div class="funnel-content funnel-cta-overlay funnel-overlay">
    <div class="panel-aside">
        <div class="panel-aside__head">
            <div class="col-left">
                <h4 class="panel-aside__title has-icon ctamessage-icon">
                    <span>
                        <i class="ico ico-message head-icon"></i>
                        CTA Message
                    </span>
                </h4>
            </div>
            <div class="col-right">
                <span title="Zip Code" class="ico-arrow-right back-ico"></span>
            </div>
        </div>
        <div class="panel-aside-wrap-overlay">
            <div class="panel-aside-holder">
                <div class="panel-aside__body">
                    <!-- Question -->
                    <div class="form-group" data-parent>
                        <div class="fb-modal__row">
                            <div class="fb-modal__option">Call-to-Action</div>
                            <div class="fb-modal__control">
                                <div class="fb-modal__handler open" data-handler>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="fb-modal__border-row" data-handler-slide style="display: block">
                            <div class="fb-form">
                                <div class="fb-froala classic-editor__wrapper">
                                    <div class="fb-froala__init question-heading"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="form-group" data-parent>
                        <div class="fb-modal__row">
                            <div class="fb-modal__option">Description</div>
                            <div class="fb-modal__control">
                                <div class="funnel-checkbox">
                                    <label class="checkbox-label">
                                        <input class="fb-field-label" data-opener type="checkbox">
                                        <span class="checkbox-area">
                                            <span class="handle"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="fb-modal__border-row" data-slide style="display: none">
                            <div class="fb-form">
                                <div class="fb-froala classic-editor__wrapper">
                                    <div class="fb-froala__init description-text"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CTA Button -->
                    <div class="form-group" data-parent>
                        <div class="fb-modal__row">
                            <div class="fb-modal__option">
                                CTA Button
                            </div>
                            <div class="fb-modal__control">
                                <div class="fb-modal__handler" data-handler>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="fb-modal__border-row" data-handler-slide style="display: none;">
                            <div class="fb-form">
                                <div class="fb-form__group-holder">
                                    <div class="fb-form__group">
                                        <input type="text" class="form-control fb-form-control btn-value-text" value="Continue">
                                        <span class="tag-box">
                                            <i class="fa fa-tag"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="undo-btn el-tooltip" title='<div class="reset-tooltip">Reset to default</div>'><i class="ico-undo"></i></a>
                                </div>
                                <div class="fb-modal__border-box fb-modal__border-box_pb-15">
                                    <div class="fb-modal__row">
                                        <div class="fb-modal__option fb-modal__option_light">
                                            <span class="fb-modal__middle">Font Size</span>
                                        </div>
                                        <div class="fb-modal__control">
                                            <input id="question-cta-font-slider" class="form-control" type="text"/>
                                            <input type="hidden" class="question-cta-font" value="18">
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-modal__border-box fb-modal__border-box_plr0 fb-modal__border-box_plr0-top" data-parent>
                                    <div class="fb-modal__row">
                                        <div class="fb-modal__option fb-modal__option_light">
                                            <span class="fb-modal__middle">Button Icon</span>
                                        </div>
                                        <div class="fb-modal__control">
                                            <div class="funnel-checkbox">
                                                <label class="checkbox-label">
                                                    <input class="fb-field-label" data-icon-opener type="checkbox">
                                                    <span class="checkbox-area">
                                                        <span class="handle"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-icon-slide" data-icon-slide style="display: none">
                                        <div class="fb-modal__border-row pb-0">
                                            <div class="fb-modal__row icon-select-row">
                                                <div class="icon-select">
                                                    <a href="#select-icon-modal" data-toggle="modal" class="select-icon-opener icon-select__wrapper">
                                                        <span class="icon-wrap">
                                                            <i class="ico-arrow-thick-right"></i>
                                                        </span>
                                                        <span class="text-icon-wrap">
                                                            <span class="icon-title">Icon:</span>
                                                            <span class="text-icon">Forward</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="icon-color">
                                                    <div id="question-cta-clr-icon" class="last-selected">
                                                        <div class="last-selected__box" style="background: #ffffff"></div>
                                                        <div class="last-selected__code">#ffffff</div>
                                                    </div>
                                                    <div class="color-box__panel-wrapper question-cta-icon-clr">
                                                        <div class="color-box__panel-dropdown">
                                                            <select class="color-picker-options">
                                                                <option value="1">Color Selection:  Pick My Own</option>
                                                                <option value="2">Color Selection:  Pull from Logo</option>
                                                            </select>
                                                        </div>
                                                        <div class="color-picker-block">
                                                            <div class="picker-block" id="question-cta-icon-clr">
                                                            </div>
                                                            <label class="color-box__label">Add custom color code</label>
                                                            <div class="color-box__panel-rgb-wrapper">
                                                                <div class="color-box__r">
                                                                    R: <input class="color-box__rgb" value="12"/>
                                                                </div>
                                                                <div class="color-box__g">
                                                                    G: <input class="color-box__rgb" value="205"/>
                                                                </div>
                                                                <div class="color-box__b">
                                                                    B: <input class="color-box__rgb" value="186"/>
                                                                </div>
                                                            </div>
                                                            <div class="color-box__panel-hex-wrapper">
                                                                <label class="color-box__hex-label">Hex code:</label>
                                                                <input class="color-box__hex-block" value="#707d84" />
                                                                <input type="hidden" id="textfield-icon-clr-trigger" value="1">
                                                            </div>
                                                        </div>
                                                        <div class="color-pull-block">
                                                            <label class="color-box__label">Pulled colors</label>
                                                            <ul class="color-box__list">
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item red"></li>
                                                                <li class="color-box__item green"></li>
                                                                <li class="color-box__item black"></li>
                                                                <li class="color-box__item blue"></li>
                                                                <li class="color-box__item orange"></li>
                                                                <li class="color-box__item yellow"></li>
                                                                <li class="color-box__item parrot"></li>
                                                            </ul>
                                                        </div>
                                                        <div class="color-box__panel-pre-wrapper">
                                                            <label class="color-box__label">Previously used colors</label>
                                                            <ul class="color-box__list">
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                                <li class="color-box__item"></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fb-modal__row position-row">
                                                <div class="fb-form__group">
                                                    <div class="question-cta-input-icon-parent select2-parent icon-parent">
                                                        <select class="question-cta-icon-type"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fb-modal__row">
                                                <div class="fb-modal__option fb-modal__option_light">
                                                    <span class="fb-modal__middle">Icon Size</span>
                                                </div>
                                                <div class="fb-modal__control">
                                                    <input id="question-cta-icon-size-slider" class="form-control" type="text">
                                                    <input type="hidden" class="question-cta-icon-size" value="18">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-checkbox hide-checkbox">
                                    <input class="fb-checkbox__input hide-checkbox-field" type="checkbox" id="funnel-question-showonly-option">
                                    <label for="funnel-question-showonly-option" class="fb-checkbox__label">
                                        <div class="fb-checkbox__box">
                                            <div class="fb-checkbox__inner-box"></div>
                                        </div>
                                        <div class="fb-checkbox__caption">
                                            Hide CTA button until the question is&nbsp;answered
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Advance options -->
                    <div class="form-group advance-options-wrap" data-parent>
                        <div class="fb-modal__row">
                            <div class="fb-modal__option">
                                Advanced Options
                            </div>
                            <div class="fb-modal__control">
                                <div class="fb-modal__handler" data-handler>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="fb-modal__border-row data-handler-slide" data-handler-slide style="display: none">
                            <!-- security message -->
                            <div class="form-group" data-parent>
                                <div class="fb-modal__row">
                                    <div class="fb-modal__option">Security Message</div>
                                    <div class="fb-modal__control">
                                        <div class="funnel-checkbox">
                                            <span class="fb-tooltip">
                                                <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
                                            </span>
                                            <label class="checkbox-label">
                                                <input class="fb-field-label" data-opener type="checkbox">
                                                <span class="checkbox-area">
                                                    <span class="handle"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-modal__border-row" data-slide style="display: none">
                                    <div class="fb-form__group-holder">
                                        <div class="question-cta-message-parent select2-parent message-parent">
                                            <select class="question-cta-message"></select>
                                        </div>
                                        <a href="#security-message-modal" data-toggle="modal" class="edit-btn el-tooltip" title='<div class="security-tooltip">Edit Security Message</div>'><i class="ico-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Additional -->
                            <div class="form-group" data-parent>
                                <div class="fb-modal__row">
                                    <div class="fb-modal__option">Additional Content</div>
                                    <div class="fb-modal__control">
                                        <div class="funnel-checkbox">
                                            <label class="checkbox-label">
                                                <input class="fb-field-label" data-opener type="checkbox">
                                                <span class="checkbox-area">
                                                    <span class="handle"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-modal__border-row" data-slide style="display: none">
                                    <div class="fb-form">
                                        <div class="fb-froala classic-editor__wrapper">
                                            <div class="fb-froala__init"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fields detail -->
                            <div class="form-group" data-parent>
                                <div class="fb-modal__row">
                                    <div class="fb-modal__option">
                                        Field Details
                                    </div>
                                    <div class="fb-modal__control">
                                        <div class="fb-modal__handler" data-handler>
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-modal__border-row" data-handler-slide style="display: none">
                                    <div class="fb-form">
                                        <div class="fb-form__caption">
                                            <span class="fb-form__middle">Unique Variable Name</span>
                                            <span class="fb-tooltip">
                                                <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
                                            </span>
                                        </div>
                                        <div class="fb-form__group-holder">
                                            <div class="fb-form__group">
                                                <input type="text" value="CTA Message" class="form-control fb-form-control">
                                                <span class="tag-box">
                                                    <i class="ico-close-bracket"></i>
                                                </span>
                                            </div>
                                            <a href="#" class="undo-btn el-tooltip" title='<div class="reset-tooltip">Reset to default</div>'><i class="ico-undo"></i></a>
                                        </div>
                                        <span class="zip-text">If you're not sure what you're doing, leave this as is!</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Settings -->
                            <div class="form-group" data-parent>
                                <div class="tag-row">
                                    <div class="tag-row__title">Settings</div>
                                </div>
                                <div class="fb-modal__row">
                                    <div class="fb-modal__option fb-modal__option_light">
                                        <span class="fb-modal__middle">Required</span>
                                        <span class="fb-tooltip">
                                            <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
                                        </span>
                                    </div>
                                    <div class="fb-modal__control">
                                        <div class="funnel-checkbox">
                                            <label class="checkbox-label">
                                                <input class="fb-field-label" type="checkbox" checked>
                                                <span class="checkbox-area">
                                                    <span class="handle"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fb-modal__row fb-modal__row_tb">
                                    <div class="fb-modal__option fb-modal__option_light">
                                        <span class="fb-modal__middle">Automatic Progress</span>
                                        <span class="fb-tooltip">
                                            <span class="question-mark el-tooltip" title='<div class="overlay-tooltip">Tooltip Content</div>'>?</span>
                                        </span>
                                    </div>
                                    <div class="fb-modal__control">
                                        <div class="funnel-checkbox">
                                            <label class="checkbox-label">
                                                <input class="fb-field-label" type="checkbox" checked>
                                                <span class="checkbox-area">
                                                    <span class="handle"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-aside__footer">
            <div class="action">
                <ul class="action__list justify-content-end">
                    <li class="action__item">
                        <button class="button button-cancel">Close</button>
                    </li>
                    <li class="action__item">
                        <button class="button button-secondary">Save</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- contain the main content of the page -->
    <div id="content">

        <!-- Question Editor Header -->
        {{> question-header }}

        <!-- content of the page -->
        <main class="main">
            <!-- content of the page -->
            <section class="main-content">
                <div class="funnel-iframe-holder">
                    <iframe src="cta-content-handlebar.php" class="cta-message-iframe question-preview-iframe"></iframe>
                </div>
             </section>
         </main>
     </div>
 </div>
