<header class="header">
    <div class="info-bar">
        <div class="row justify-content-between">
            <div class="col-6">
                <div class="funnels-info">
                    <div class="action action_dresponsive">
                        <ul class="action__list">
                            <li class="action__item view-link desktop-view-link active">
                                <i class="ico ico-devices"></i>
                            </li>
                            <li class="action__item view-link mobile-view-link">
                                <i class="ico ico-Mobile"></i>
                            </li>
                            <li class="action__item">
                                <div class="range-slider range-slider-overlay">
                                    <div class="input__wrapper">
                                        <input class="form-control size-range-bar-slide" data-slider-id='ex1Slider' type="text"/>
                                        <input type="hidden" class="size-range-bar-val" value="100">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="client-setting">
                    <div class="client-setting__button">
                        <ul class="actions-button">
                            <li class="actions-button__list">
                                <a class="actions-button__link actions-button__link_close-funnels" href="#"
                                   title="Close Funnel">
                                    <span class="actions-button__icon ico-cross"></span>
                                    <span class="actions-button__text">Close</span>
                                </a>
                            </li>
                            <li class="actions-button__list">
                                <a class="actions-button__link actions-button__link_view-funnels" href="#"
                                   title="View My Funnel">
                                    <span class="actions-button__icon ico-view"></span>
                                    <span class="actions-button__text">view my funnel</span>
                                </a>
                            </li>
                            <li class="actions-button__list">
                                <button class="button button-secondary">Save</button>
                            </li>
                        </ul>
                    </div>
                    <div class="client-setting__quick">
                        <div class="quick-opener-wrap">
                            <a href="#" class="client-setting__opener">
                                <span class="ico ico-order-list"></span>
                                Quick Access
                                <span class="client-setting__arrow-wrap">
                                    <span class="ico ico-arrow-down"></span>
                                </span>
                            </a>
                        </div>
                        <div class="quick-dropdown">
                            <div class="quick-head">
                                <span class="quick-head__heading">203K Hybrid Loans</span>
                                <span class="quick-head__questions">Total Questions: <span class="quick-head__num">15</span></span>
                            </div>
                            <div class="quick-scroll">
                                <ul class="quick-links">
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-building"></i>
                                                Address
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">
                                                    <span class="off-text">Question N/A</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-birthday"></i>
                                                Birthday
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">When is your birthday?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-mail"></i>
                                                Contact
                                            </div>
                                            <div class="quick-links__description">
                                               <div class="description-contact-info">
                                                   <div class="fb-question-item__col fb-question-item__col_plr14">
                                                       <label class="fb-step-label">3 - STEP</label>
                                                   </div>
                                                   <div class="fb-question-item__col fb-question-item__col__steps">
                                                       <div class="fb-step">
                                                           <div class="fb-step__title">Step 1:</div>
                                                           <ul class="fb-step__list">
                                                               <li class="fb-step__list__item">First Name</li>
                                                               <li class="fb-step__list__item">Email Address</li>
                                                           </ul>
                                                       </div>
                                                       <div class="fb-step">
                                                           <div class="fb-step__title">Step 2:</div>
                                                           <ul class="fb-step__list">
                                                               <li class="fb-step__list__item">Email Address</li>
                                                           </ul>
                                                       </div>
                                                       <div class="fb-step">
                                                           <div class="fb-step__title">Step 3:</div>
                                                           <ul class="fb-step__list">
                                                               <li class="fb-step__list__item">Phone Number</li>
                                                           </ul>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-message"></i>
                                                CTA Message
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">
                                                  <span class="off-text">Question Off</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-calander"></i>
                                                Date Picker
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">Arrange an appointment?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-oc799PIto"></i>
                                                Drop Down
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">Dropd down</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-hidden"></i>
                                                Hidden Layer
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">Hidden Layer</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-hamburger"></i>
                                                Menu
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">What type of property are you purchasing?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-hash"></i>
                                                Number
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">What is your current monthly rent payment</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-group"></i>
                                                Question Group
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">Question Group</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-expand"></i>
                                                Slider
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">What is the purchase price of the new property?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-select-text"></i>
                                                Text Field
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">Want to know EXACTLY how much San Diego home you can afford?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-time"></i>
                                                Time Picker
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">Want time shall we meet?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-car"></i>
                                                Car Make &amp; Model
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">What make is your vehicle?</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="quick-links__item">
                                        <div class="quick-links__link">
                                            <span class="quick-links__item-num"></span>
                                            <div class="quick-links__heading">
                                                <i class="ico ico-location"></i>
                                                Zip Code
                                            </div>
                                            <div class="quick-links__description">
                                                <span class="text">FREE Down Payment Assistance Finder</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
